.shopContentWrapper {
    background: #fff;
    color: #000;
    font-size: var(--fs-s);
    min-height: 100svh;
    /* overflow: auto; */
    /* width: 100%; */
    /* padding-block: calc(var(--navbar-height) + 1.6em); */
}

/* .shopContent {
    overflow-x: auto;
    max-width: var(--screen-max-width);
    margin: 0 auto;
    padding-inline: var(--navbar-padding-inline);
} */
