.inputFieldLabel {
    font-weight: var(--fw-m);
    white-space: normal;
    display: block;
}

.labelRequired::after {
    content: "*";
    color: red;
}

.inputFieldInput,
.inputFieldImageInput {
    margin-block: 0.4em;
}

.inputFieldInput {
    padding: 0.4em;
    width: 100%;
}

.inputFieldColorContainer {
    display: flex;
    align-items: center;
}

.inputFieldColor {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    border: 1px solid var(--default-border-clr);
    cursor: pointer;
    padding: 0;
    max-width: 5em;
    margin-block: 0.65em;
}

.inputFieldColor:focus{
    border-radius: 0;
    outline: none;
}
  
.inputFieldColor::-webkit-color-swatch-wrapper {
    padding: 0; 
}
  
.inputFieldColor::-webkit-color-swatch{
    border: 0;
    border-radius: 0;
}
  
.inputFieldColor::-moz-color-swatch,
.inputFieldColor::-moz-focus-inner{
    border: 0;
}
  
.inputFieldColor::-moz-focus-inner{
    padding: 0;
}

.checkboxWrapper {
    padding-block: 0.4em;
    margin-block: 0.4em;
}

.inputFieldCheckbox {
    --circle-size: 1em;
    --circle-color: #fff;
    --circle-inline-space: 0.2em;
    --container-width: calc(var(--circle-size) * 2.4);
    --container-height: calc(var(--circle-size) * 1.4);
    --container-radius: 0.675em;
    --container-bg-color: var(--default-border-clr);
    --container-bg-color-checked: var(--update-btn-bg);

    position: relative;
    appearance: none;
    background-color: var(--container-bg-color);
    height: var(--container-height);
    width: var(--container-width);
    border-radius: var(--container-radius);
    border-style: none;
    margin: 0;
    cursor: default;
    outline: 0;
}

.inputFieldCheckbox:checked {
    background-color: var(--container-bg-color-checked);
}

.inputFieldCheckbox,
.inputFieldCheckbox::after {
    transition: all 0.2s ease-out;
}

.inputFieldCheckbox::after {
    content: "";
    position: absolute;
    background-color: var(--circle-color);
    height: var(--circle-size);
    width: var(--circle-size);
    border-radius: 50%;
    top: calc(calc(var(--container-height) - var(--circle-size)) / 2);
    left: var(--circle-inline-space);
}

.inputFieldCheckbox:checked::after {
    left: calc(calc(var(--container-width) - var(--circle-size)) - var(--circle-inline-space));
}

.validationErrorMessage {
    color: red;
}