.headingWrapper {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    line-height: 1em;
    border-bottom: 1px solid var(--default-border-clr);
    font-size: var(--fs-m);
    overflow: hidden;
}

.headingTitle {
    font-weight: var(--fw-l);
}

.headingDescription {
    font-size: var(--fs-s);
}