.productsSidebarWrapper {
    --products-sidebar-main-font-clr: #000;
    --products-sidebar-main-bg: #fff;
    --products-sidebar-menu-font-clr: #fff;
    --products-sidebar-menu-bg: #000;
    
    --transition-duration: 400ms;
    --transition-timing: cubic-bezier(.46,1.19,.36,1.02);

    --products-sidebar-padding: 0.6em;

    --font-clr-active: #d92727;

    background: var(--products-sidebar-main-bg);
    color: var(--products-sidebar-main-font-clr);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menuItem {
    border: 1px solid var(--products-sidebar-menu-bg);
}

.menuItemTitle {
    background: var(--products-sidebar-menu-bg);
    color: var(--products-sidebar-menu-font-clr);
    padding: var(--products-sidebar-padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--fw-m);
    text-transform: uppercase;
    cursor: pointer;
    transition: color 100ms ease-in-out;
}

.menuItemTitle:hover {
    color: var(--font-clr-active);
}

.titleIcon {
    display: flex;
}

.titleIcon > svg {
    transition: rotate var(--transition-duration) var(--transition-timing);
}

.titleIcon.rotate > svg {
    rotate: 180deg;
}

.menuItemSubItems {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--transition-duration) var(--transition-timing);
    font-size: var(--fs-s);
}

.menuItemSubItems > .menuSubItem {
    overflow: hidden;
}

.menuItemSubItems.open {
    grid-template-rows: 1fr;
}

.subItem {
    padding: var(--products-sidebar-padding);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subItem > svg {
    transition: opacity 100ms ease-in-out;
    color: rgb(165, 162, 162);
    opacity: 0;
}

.subItem:hover > svg {
    opacity: 1;
}

.subItem.activeSearch {
    color: var(--font-clr-active)
}

.subItem.activeSearch > svg {
    opacity: 1;
    color: var(--font-clr-active)
}

.subItem:not(:last-child) {
    border-bottom: 1px solid var(--default-border-clr);
}

@media (max-width: 860px) {
    .productsSidebarWrapper {
        position: fixed;
        visibility: hidden;
        z-index: 200;
        height: 100%;
        width: min(100%, 18rem);
        left: max(-100%, -18rem);
        top: 0;
        transition: visibility var(--overlay-trans-duration), left var(--overlay-trans-duration) ease-out;
        padding: 1em;
    }

    .productsSidebarWrapper.open {
        visibility: visible;
        left: 0;
    }
}
