.assetsTable {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block: 1em;
}

.assetsTableHeading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 0.6em;
    column-gap: 1em;
}

.assetsTableWrapper {
    border: 1px solid var(--admin-default-border-clr);
    border-radius: 0.4em;

    display: grid;
    column-gap: 2em;
    font-size: var(--fs-xs);
}

.assetsTableHeader,
.assetsTableContent,
.assetsTableItem {
    display: grid;
    grid-template-columns: subgrid;
    align-items: center;
    justify-content: center;
}

.assetsTableItem,
.assetsTableHeader {
    padding: 1em;
    border-bottom: 1px solid var(--admin-default-border-clr);
}

.assetsTableItem:last-child{
    border: none;
}

.assetsTableItem {
    position: relative;
}

.assetsTableHeader {
    background: rgb(247 247 247);
    border-radius: 0.4em 0.4em 0 0;
    font-weight: var(--fw-m);
}

.assetsNoTableContent {
    padding: 1em;
}

.assetsTableActions {
    display: flex;
    gap: 0.6em;
}

.deleteActionMobile {
    display: none;
}

@media (max-width: 860px) {
    .assetsTableHeader {
        display: none;
    }


    .assetsTableItem > .assetItem[data-label]:before {
        content: attr(data-label) ': ';
        font-weight: var(--fw-m);
    }

    .assetItem {
        width: 75%;
    }
    
    .deleteAction {
        display: none;
    }

    .deleteActionMobile {
        display: block;
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        font-size: var(--fs-m);
    }

    .assetsTableWrapper {
        grid-template-columns: 1fr !important;
    }

    .assetsTableWrapper * {
        grid-column: unset !important;
    }

    .assetsTableActions {
        margin-block-start: 1em;
    }
}