.imagePreviewWrapper {
    position: fixed;
    z-index: 101;
    inset: 0;
    background: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility var(--overlay-trans-duration), opacity var(--overlay-trans-duration) var(--overlay-trans-type);
    color: black;
    max-width: 80vw;
    max-height: 80svh;
    margin: auto;
    aspect-ratio: 1;
}

.imagePreviewWrapper.open {
    visibility: visible;
    opacity: 1;
}

.imagePreviewContent {
    height: 100%;
    width: 100%;
}

