.cartPreviewWrapper {
    position: relative;
    display: flex;
}

.cartPreviewIcon {
    cursor: pointer;
    display: flex;
    position: relative;
}

.cartPreviewCounter {
    position: absolute;
    top: -0.4rem;
    right: -0.6rem;
    background: red;
    border-radius: 50%;
    width: 1.4rem;
    height: 1.4rem;
    display: grid;
    place-content: center;
    font-size: 1rem;
    color: #fff;
}

.cartPreviewContent {
    position: absolute;
    top: 2.8rem;
    right: -1rem;
    background: #fff;
    color: #000;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    max-height: 400px;
    overflow-x: auto;
    scrollbar-width: thin;
}

.cartPreviewContent::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    background: #fff;
    top: -8px;
    right: 14%;
    rotate: 45deg;
}

.cartItemPreviewWrapper {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 0.8em;
    padding-block: 1em;
    cursor: pointer;
}

.cartItemPreviewWrapper:not(:last-child) {
    border-bottom: 1px solid var(--default-border-clr);
}

.cartItemImageContainer {
    aspect-ratio: 1;
    width: 120px;
}

.cartItemImage {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.cartItemText {
    padding-inline-end: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.6em;
}

.cartItemTextTitle {
    font-weight: var(--fw-lm);
}

.cartItemTextTitle:hover {
    text-decoration: underline;
}

.cartItemTextPrice {
    color: var(--clr-main-pink);
}

.cartItemQuantity {
    text-transform: none;
    margin-top: auto;
    display: flex;
    gap: 0.2em;
    font-weight: var(--fw-s);
}

.cartPreviewContentInner {
    position: relative;
}

.cartPageNavigation {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    padding: 0.4em;
    background: #fff;
}