.apiInfoWrapper {
    padding: 1em;
    border: 1px solid var(--admin-default-border-clr);
    border-radius: 0.4em;
    overflow-x: auto;
    scrollbar-width: thin;

    display: flex;
    justify-content: space-between;
}

.apiInfoContent {
    display: flex;
    gap: 0.6em;
}

.apiInfoTitleWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.apiInfoTitleWrapper .badge {
    --public-badge-bg: #37af59;
    --public-badge-clr: #fff;
    --admin-badge-bg: #ff0000;
    --admin-badge-clr: #fff;
    border-radius: 0.6em;
    padding-inline: 0.6em;
    margin-inline-start: 0.4em;
    font-size: var(--fs-xs);
}

.apiInfoTitleWrapper .badge.Admin {
    background: var(--admin-badge-bg);
    color: var(--admin-badge-clr);
}

.apiInfoTitleWrapper .badge.Public {
    background: var(--public-badge-bg);
    color: var(--public-badge-clr);  
}

.apiInfoTitle {
    font-weight: var(--fw-m);
}

.apiInfoDescription {
    background: #ebebeb;
    color: #232323;
    font-weight: var(--fw-l);
    font-size: var(--fs-xs);
    padding-inline: 0.4em;
} 

/* ApiList component */

.apiListWrapper {
    margin-block-start: 4em;
}

.apiList {
    margin-block-start: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}