.apiInfoWrapper {
    padding: 1em;
    border: 1px solid var(--admin-default-border-clr);
    border-radius: 0.4em;
    overflow: hidden;

    display: grid;
    grid-template-areas: "server title"
    ". description";
    grid-template-columns: min-content 1fr;
    align-items: center;
    gap: 0.4em;
}

.apiIcon {
    grid-area: server;
}

.apiInfoContent {
    grid-area: title;
}

.apiInfoDescription {
    grid-area: description;
}

.apiInfoContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.apiInfoTitle {
    font-weight: var(--fw-m);
    margin-inline-end: 0.4em;
}

.apiInfoDescription {
    background: #ebebeb;
    color: #232323;
    font-weight: var(--fw-l);
    font-size: var(--fs-xs);
    padding-inline: 0.2em;
    overflow-wrap: break-word;
    max-width: fit-content;
} 

/* ApiList component */

.apiListWrapper {
    margin-block-start: 4em;
}

.apiList {
    margin-block-start: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}