.containerBase {
    max-width: var(--screen-max-width);
    margin-inline: auto;
    padding-inline: var(--navbar-padding-inline);
    background: #fff;
}

.containerSingle {
    padding-block: 2em;
}

.containerWithSidebar {
    display: grid;
}

@media (min-width: 861px) {
    .containerWithSidebar {
        grid-template-columns: 28% 70%;
        gap: 2%;
    }
}
