.imageUploadContent {
    display: grid;
    place-items: center;
    text-align: center;
    position: relative;
    border: 1px dashed black;
    background-color: rgb(247 247 247);
    background-size: cover;
    cursor: pointer;
    aspect-ratio: 4/3;
}

.imageUploadFileInput {
    opacity: 0;
    width: 0;
    height: 0;
}

.imageUploadIcon svg {
    font-size: min(14vw, 2.4rem);
}

.imageDeleteButton {
    position: absolute;
    top: 0.4em;
    right: 0.4em;
    font-size: min(var(--fs-s), 6vw);
}