.generalButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2em;
    width: fit-content;
    padding: 0.6em 0.8em;
    border-radius: 0.4em;
    font-weight: var(--fw-m);
    transition: var(--bg-clr-transition);
}

.generalButton[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

.generalButton.normal {
    flex-direction: row;
}

.generalButton.reverse {
    flex-direction: row-reverse;
}

.generalButton.default {
    color: var(--default-btn-clr);
    background: var(--default-btn-bg);
}

.generalButton.primary {
    color: var(--primary-btn-clr);
    background: var(--primary-btn-bg);
}

.generalButton.primary:hover {
    background: var(--primary-btn-bg-hover);
}

.generalButton.update {
    color: var(--update-btn-clr);
    background: var(--update-btn-bg);
}

.generalButton.update:hover {
    background: var(--update-btn-bg-hover);
}

.generalButton.delete {
    color: var(--delete-btn-clr);
    background: var(--delete-btn-bg);
}

.generalButton.delete:hover {
    background: var(--delete-btn-bg-hover);
}

.generalButton.cancel {
    color: var(--cancel-btn-clr);
    background: var(--cancel-btn-bg);
}
