@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --screen-max-width: 1600px;
    --dft-bg-clr: #000000;
    --arrow-btn-bg-clr: #EA0174;

    /* NAVBAR */
    --navbar-height: 5rem;
    --navbar-padding-inline: 1.2rem;
    --navbar-dft-bg: rgba(0, 0, 0, .9);
    --navbar-lin-bg: linear-gradient(180deg, rgba(0,0,0,.9) 95%, rgba(255,255,255,0) 100%);

    --navbar-dft-fnt-clr: rgb(0,194,255);
    --navbar-lin-fnt-clr: linear-gradient(90deg, rgba(0,194,255,1) 1%, rgba(0,194,255,1) 42%, rgba(248,21,253,1) 60%);

    /* FONT SIZES */
    --fs-xl: clamp(2rem, 4vw + 1rem, 3.4rem);
    --fs-l: clamp(1.8rem, 2vw + 1rem, 2rem);
    --fs-m: 1.4rem;
    --fs-s: 1.125rem;
    --fs-xs: 1rem;

    /* FONT WEIGHTS */
    --fw-xl: 900;
    --fw-l: 800;
    --fw-m: 600;
    --fw-s: 400;

    /* TRANSITIONS */
    --overlay-trans-duration: 0.4s;
    --overlay-trans-type: linear;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  
    background-color: var(--dft-bg-clr);
    color-scheme: light dark;
    color: #ffffff;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

/* BASIC CSS RESET */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100svh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, select {
    font: inherit;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

ul, ol {
    list-style: none;
}

button {
    all: unset;
    font: inherit;
    cursor: pointer;
}


@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
    }
}

@media (min-width: 640px) {
    :root {

      --fs-m: 1.6rem;
    }
}

@media (min-width: 861px) {
    .desktop--hide {
        display: none;
    }
}

  