.hero {
    width: 100%;
    height: 100svh;
    background: var(--dft-bg-clr);
    background-image: url("/static/images/home_hero_bg_optimized.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right; 
    mask-image: linear-gradient(
      rgb(0 0 0 / 1) 99%,
      rgb(0 0 0 / 1) 98%,
      rgb(0 0 0 / 0)
    );
  
    --hero-main-txt-mr: 1rem;
    --hero-title-fnt-clr: #FF81EB;
    --hero-shop-fnt-clr: #48EDFF;
    --hero-advert-fnt-clr: #FFEE00;
}
  
.hero img {
  object-fit: contain;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "desk text1"
    "desk title"
    "shop shop";
  height: 100%;
  max-width: var(--screen-max-width);
  margin: 0 auto;
}

.desk-container {
  grid-area: desk;
  container-type: size;

  display: flex;
  justify-content: center;
  max-height: min(100svh, 1000px);
}

.desk {
    position: relative;
 
}

.desk:first-child {
    align-self: start;
}

.desk:last-child {
    display: none;
}

.desk  {
    width: 100%;
    height: 100%;
  max-width: 100cqw;
  max-height: 100cqh;
  rotate: 24deg;
}

.desk img:hover {
  cursor: pointer;
}

.title-container {
  grid-area: title;
  align-self: end;
  justify-self: end;

  margin-inline-end: var(--hero-main-txt-mr);
}

.hero-title {
  text-align: right;
}

.hero-title h1 {
  font-family: "FranklinGothic";
  text-transform: uppercase;
  font-size: var(--fs-xl);
  color: var(--hero-title-fnt-clr);
  padding-bottom: 0.2em;
}

.hero-title .hero-discount {
  text-wrap: balance;
}

.hero-title .hero-discount > div {
  width: fit-content;
  margin-left: auto;
  margin-block-start: 0.4em;
  background: red;

}

.hero-title span {
  font-family: "FranklinGothicDemiCond";
  text-transform: uppercase;
  font-size: var(--fs-s);
}

.hero-title .discount-symbol {
  font-family: "FreckleFace";
  font-size: var(--fs-m);
}

.hero-title .discount-text {
  font-family: "Haettenschweiler";
  font-size: var(--fs-m);
  position: relative;
}

.shop-container {
  grid-area: shop;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.4em;
  font-family: "FranklinGothic";
  font-size: var(--fs-l);
  text-transform: uppercase;
  color: var(--hero-shop-fnt-clr);
  margin-inline-end: var(--hero-main-txt-mr);
}

.shop-container svg {
  background-color: var(--arrow-btn-bg-clr);
  border-radius: 50%;
  padding: 0.4em;
}

.text-container {
  grid-area: text1;
  align-self: center; /* not sure */

  margin-block-start: calc(var(--navbar-height) + 2em);
}

.board-advertise {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  height: 100%;

  font-family: "SegoePrintFont";
  font-size: var(--fs-m);
  color: var(--hero-advert-fnt-clr);
  user-select: none;
  overflow: hidden;
}
  
.board-advertise span {
  rotate: -8deg;
  transform: translate(0px, 0px);
  margin-bottom: 1em;
  margin-left: 1em;
  scale: 1;
  animation: testAn 6s cubic-bezier(0.08, 1, 0.42, 1.01) infinite;
  animation-delay: 1s;

}

.board-advertise span:hover {
  cursor: pointer;
}


@keyframes testAn {
  0% {
    rotate: -8deg;
    transform: translate(0px, 0px);
  }

  1.7% {
    rotate: -12deg;
    transform: translate(8px, 2px);
  }

  3.8% {
    transform: translate(-6px, -2px);
  }

  5% {
    transform: translate(6px, 1px);
  }

  6.75% {
    transform: translate(-4px, 0px);
  }

  8.4% {
    transform: translate(4px, 0px);
    scale: 1.2;
  }

  10.125% {
    transform: translate(-2px, 0px);
  }

  11.8% {
    transform: translate(2px, 0px);
  }

  13.5% {
    transform: translate(0px, 0px);
    scale: 1;
  }

  100% {
    transform: translate(0px, 0px);
    rotate: -8deg;
  }
}


  
.advertise-arrow-1 {
  rotate: 8deg;
  transform: scale(-1, 1) ;

}

  
.advertise-arrow-2 {
  rotate: 172deg;
}




@media (min-width: 370px) {
  .hero-title .discount-symbol {
    font-family: "FreckleFace";
    font-size: var(--fs-l);
  }
  
  .hero-title .discount-text {
    font-family: "Haettenschweiler";
    font-size: var(--fs-l);
  }
  
}


@media (min-width: 860px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "desk text1"
      "desk title"
      "desk shop";

    --hero-main-txt-mr: 2.4rem;
  }

  .desk  {
    max-height: 80cqh;
    max-width: 30cqw;
    rotate: 15deg;
    user-select: none;
  }

  .desk:first-child {
    align-self: start;
  }
  .desk:last-child {
    display: block;
}

  .desk:last-child {
    align-self: center;
  }
}



@media (max-width: 860px) {
  .board-advertise {
    margin-left: calc(10vw + 1.4em);
  }

  .board-advertise span {
    rotate: 0deg;
  }

  .desk  {

   

  }
}

@media (min-width: 1200px) {
  .hero {
    background-position: bottom;
  }

  .desk:last-child {
      align-self: end;
  }


}


@media (max-width: 300px) {
  .hero-title .hero-discount > div {
    background: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: red;
  }
}