.billboardWrapper {
    min-height: calc(var(--navbar-height) * 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.billboardContentWrapper {
    padding-block-start: var(--navbar-height);
}

.billboardContent {
    --billboard-label-clr: #fff;
    --billboard-label-shadow: 10px 10px 25px rgb(0 0 0), -10px 10px 25px rgb(0 0 0), -10px -10px 25px rgb(0 0 0), 10px -10px 25px rgb(0 0 0 / 8%);

    color: var(--billboard-label-clr);
    text-shadow: var(--billboard-label-shadow);
    font-size: var(--fs-xl);
    font-weight: var(--fw-xl);
    text-transform: uppercase;
    letter-spacing: -2px;
    text-align: center;
    margin-inline: 0.2em;
}

@media (min-width: 861px) {
    .billboardWrapper {
        min-height: calc(var(--navbar-height) * 4);
    }
}

@media (max-width: 280px) {
    .billboardWrapper {
        min-height: calc(var(--navbar-height) * 2);
    }

    .billboardContent {
        font-size: var(--fs-m);
    }
}