.billboardWrapper {
    min-height: calc(var(--navbar-height) * 3);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.billboardContentWrapper {
    padding-block-start: var(--navbar-height);
}

.billboardContent {
    --billboard-label-bg-clr: #e0e0e0dd;
    --billboard-label-clr: #EA1A1A;
    padding: 0.4em;
    background: var(--billboard-label-bg-clr);
    color: var(--billboard-label-clr);
    font-size: var(--fs-xl);
    font-weight: var(--fw-xl);
    text-transform: uppercase;
    letter-spacing: -2px;
    border-radius: 0.4em;
    text-align: center;
    margin-inline: 0.2em;
}

@media (min-width: 861px) {
    .billboardWrapper {
        min-height: calc(var(--navbar-height) * 4);
    }
}

@media (max-width: 280px) {
    .billboardWrapper {
        min-height: calc(var(--navbar-height) * 2);
    }

    .billboardContent {
        font-size: var(--fs-m);
    }
}