.productsFilterWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content;
    grid-template-rows: repeat(3, min-content);
    grid-template-areas:
    "breadcrumb breadcrumb breadcrumb sidebar"
    "brands brands brands brands"
    ". . order order";
    gap: 0.8em;
}

.productsFilterBreadcrumb {
    grid-area: breadcrumb;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.2em;
}

.productsFilterSidebarTrigger {
    grid-area: sidebar;
}

.productsFilterBrands {
    grid-area: brands;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-block: 0.4em;
}

.productsFilterOrderBy {
    grid-area: order;
    justify-self: end;
}

.dynamicBreadcrumbWrapper {
    display: flex;
    gap: 0.2em;
}

.dynamicBreadcrumbItem {
    cursor: pointer;
    text-transform: uppercase;
    font-size: var(--fs-xs);
    word-break: break-all;
}

.dynamicBreadcrumbItem.active {
    cursor: default;
    font-weight: var(--fw-m);
}

.brandImageContainer {
    cursor: pointer;
}

.brandImage {
    object-fit: contain;
    aspect-ratio: 4 / 1;
}

.orderBySelect {
    padding-block: 0.4em;
}

@media (min-width: 861px) {
    .productsFilterWrapper {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, min-content);
        grid-template-areas:
        "breadcrumb breadcrumb breadcrumb order"
        "brands brands brands brands"
    }

    .productsFilterSidebarTrigger {
        display: none;
    }
}