.cardSliderWrapper {
    width: 100%;
    position: relative;
}
  
/* Card Slider Arrows */
.sliderArrow {
    --inline-gap: -0.2em;
    position: absolute;
    top: 50%;
    height: 1.6em;
    width: 1.6em;
    cursor: pointer;
    font-size: var(--fs-l);
    text-align: center;
    z-index: 10;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    background: var(--arrow-btn-bg-clr) !important;
    color: white !important;

    display: flex;
    align-items: center;
    justify-content: center;
}
  
.sliderArrow:active {
    transform: translateY(-50%) scale(0.85);
}

.sliderArrow:first-child {
    left: var(--inline-gap);
}

.sliderArrow:last-child{
    right: var(--inline-gap);
}
  
.carousel {
    --carousel-gap: 10px;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: var(--carousel-gap);

    scroll-behavior: smooth;
    scrollbar-width: none;
    cursor: grab;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .cardContainer {
    cursor: grabbing;
    user-select: none;
}

.featuredProductCardWrapper {
    scroll-snap-align: start;
}

.featuredProductsWrapper {
    margin-block: 2em;
}

.featuredProductsTitle {
    text-transform: uppercase;
    font-weight: var(--fw-m);
    font-size: var(--fs-m);
    text-align: center;
}

@media (min-width: 370px) {
    .carousel {
        grid-auto-columns: calc((100% / 2) - var(--carousel-gap) / 2);
    }
}

@media (min-width: 861px) {
    .carousel {
        grid-auto-columns: calc((100% / 3) - 7px);
    }
}


@media (min-width: 1280px) {
    .carousel {
        grid-auto-columns: calc((100% / 4) - 8px);
    }
}