.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-block-start: 1em;
    max-width: 400px;
}

.inputField {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

.inputFieldLabel {
    font-weight: var(--fw-m);
}

.inputFieldInput {
    padding: 0.4em;
}

.formActionButtons {
    display: flex;
    gap: 0.4em;
}