.adminSidebarWrapper {
    --admin-sidebar-font-clr: #000;
    --admin-sidebar-bg: #fff;

    --admin-nav-item-active-clr: #fff;
    --admin-nav-item-active-bg: rgba(0,194,255,1);  
    --admin-nav-item-active-bg-linear: linear-gradient(90deg, rgba(0,194,255,1) 0%, rgba(248,21,253,1) 100%);


    background: var(--admin-sidebar-bg);
    color: var(--admin-sidebar-font-clr);
}

.adminSidebarTitleContainer {
    padding-inline: 1em;
    padding-block-end: 1em;
}

.adminNavItem {
    border-bottom: 1px solid var(--default-border-clr);
}

.adminNavItem.active {
    background: var(--admin-nav-item-active-bg);
    background: var(--admin-nav-item-active-bg-linear);
    color: var(--admin-nav-item-active-clr);
    font-weight: var(--fw-l);
}

.adminNavItem a {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    color: unset;
    text-decoration: none;
}

@media (max-width: 860px) {
    .adminSidebarWrapper {
        position: fixed;
        visibility: hidden;
        z-index: 200;
        height: 100%;
        width: min(100%, 18rem);
        left: max(-100%, -18rem);
        top: 0;
        transition: visibility var(--overlay-trans-duration), left var(--overlay-trans-duration) ease-out;
    }

    .adminSidebarWrapper.open {
        visibility: visible;
        left: 0;
    }

    .adminSidebarTitleContainer {
        padding: 1em;
    }
}
