.productDetailsWrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.4em;
    margin-block: 1em;
}

.productDetailsInformation {

}

.productTitleContainer h1 {
    font-size: var(--fs-l);
    font-weight: var(--fw-m);
    text-transform: uppercase;
}

.productPriceContainer h2 {
    font-size: var(--fs-s);
    font-weight: var(--fw-xl);
    text-transform: uppercase;
}

.productDescriptionContainer,
.productPriceContainer h2 {
    margin-block-start: 1em;
}

@media (min-width: 861px) {
    .productDetailsWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}