.marketplaceWrapper {
    display: grid;
    grid-template-areas:
    "offer"
    "cat1"
    "subcat1"
    "subcat2"
    "brand"
    "subcat3"
    "cat2"
    "subcat4"
    "subcat5"
    "subcat6";
    gap: 1em;
    grid-template-rows: repeat(4, 1fr) auto repeat(5, 1fr);
}

#offer {
    grid-area: offer;
    aspect-ratio: 1 / 1;
}

#catOne {
    grid-area: cat1;
    aspect-ratio: 1 / 1;
}

#catTwo {
    grid-area: cat2;
    aspect-ratio: 1 / 1;
}

#subcatOne {
    grid-area: subcat1;
    aspect-ratio: 1 / 1;
}

#subcatTwo {
    grid-area: subcat2;
    aspect-ratio: 1 / 1;
}

#subcatThree {
    grid-area: subcat3;
    aspect-ratio: 1 / 1;
}

#subcatFour {
    grid-area: subcat4;
    aspect-ratio: 1 / 1;
}

#subcatFive {
    grid-area: subcat5;
    aspect-ratio: 1 / 1;
}

#subcatSix {
    grid-area: subcat6;
    aspect-ratio: 1 / 1;
}

#brand {
    grid-area: brand;
    align-self: center;
    overflow: hidden;
}

@media (min-width: 420px) {
    .marketplaceWrapper {
        grid-template-areas:
        "offer subcat1"
        "cat1 cat1"
        "subcat2 subcat3"
        "brand brand"
        "subcat4 subcat5"
        "cat2 cat2"
        "subcat6 subcat6";    
        grid-template-rows: repeat(3, 1fr) auto repeat(3, 1fr);
    }

    #catOne, #catTwo, #subcatSix {
        aspect-ratio: unset;
    }
}

@media (min-width: 861px) {
    .marketplaceWrapper {
        grid-template-areas:
        "offer cat1 cat1 cat1"
        "subcat1 cat1 cat1 cat1"
        "subcat2 subcat3 subcat3 subcat4"
        "brand brand brand brand"
        "cat2 cat2 cat2 subcat5"
        "cat2 cat2 cat2 subcat6";

        grid-template-columns: 0.8fr repeat(2, 1fr) 0.8fr;
        grid-template-rows: repeat(3, 1fr) auto repeat(2, 1fr);
    }

    #subcatThree {
        aspect-ratio: unset;
    }

    #subcatSix {
        aspect-ratio: 1 / 1;
    }    
}